<h2 mat-dialog-title>Створення завдання</h2>

<div class="mat-typography dialog-box">
  <mat-form-field appearance="fill">
    <mat-label>Оберіть тип завдання</mat-label>
    <mat-select>
      <mat-option [value]="taskTypes.text">
        Текстова відповідь
      </mat-option>
      <mat-option [value]="taskTypes.code">
        Код на мові програмування
      </mat-option>
      <mat-option [value]="taskTypes.test">
        Тест
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Закрити</button>
    <button mat-raised-button (click)="onCreateTask()"
            color="primary" [mat-dialog-close]="true">
      Створити
    </button>
  </mat-dialog-actions>
</div>
