.chat-window {
  width: 600px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}

.messages {
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-message {
  display: flex;
  flex-direction: row;
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  button {
    width: auto;
    background-color: white;
  }
}


mat-icon {
  justify-self: center;
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
