mat-card {
  width: 320px;
  height: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  overflow: hidden;
}

.actions {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

mat-card-header {
  width: 100%;
}

mat-card-content {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
