<mat-card>
  <div class="actions">
    <mat-card-header class="header">
      <mat-card-title>{{question || 'Question question'}}</mat-card-title>
    </mat-card-header>
    <button *ngIf="currentUserType!==userTypes.student" (click)="onTaskDelete()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div>
    <mat-card-content>
      <mat-form-field *ngIf="type == taskType.code || type == taskType.text" class="task-content" appearance="fill">
        <textarea [(ngModel)]="answer" matInput [disabled]="currentUserType!==userTypes.student" [value]='answer'></textarea>
      </mat-form-field>
      <mat-radio-group *ngIf="type == taskType.test && answers"
                       aria-labelledby="example-radio-group-label"
                       class="task-content example-radio-group"
                       [disabled]="lessonStatus!=lessonStatuses.open"
                       [(ngModel)]="selected"
                       [value]="selected">
        <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer">
          {{answer}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <div class="manage">
      <div style="margin-right: 12px" *ngIf="currentUserType===userTypes.student">
        <button (click)="submitAnswer()" mat-raised-button color="primary">Підтвердити відповідь</button>
      </div>
      <div>
        <button mat-icon-button (click)="openChat()">
          <mat-icon class="comment">comment</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
