<div class="login" [formGroup]="loginForm">
  <span class="header">Авторизація</span>

  <mat-form-field appearance="fill">
    <mat-label>Ім'я  користувача/Електронна адреса</mat-label>
    <input formControlName="username" matInput>
    <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input type="password" formControlName="password" matInput>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button [disabled]="!loginForm.valid" color="primary"
          (click)="onLogin()">Увійти
  </button>

  <a mat-button class="link" href="/registration">Не маєте облікового запису? Реєстрація</a>
</div>
