@import "src/app/styles/colors";
@import "src/app/styles/mixins";

@include authorization();

:host {
  background-image: url("../../../assets/images/background.png");
  background-size: 100% 100%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.registration {
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, .82);
  width: 20em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 15em;
}

