<div class="registration" [formGroup]="registrationForm">
  <span class="header">Реєстрація</span>

  <mat-form-field appearance="fill">
    <mat-label>Ім'я</mat-label>
    <input matInput formControlName="firstname">
    <mat-error *ngIf="registrationForm.controls['firstname'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>

  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Прізвище</mat-label>
    <input matInput formControlName="lastname">
    <mat-error *ngIf="registrationForm.controls['lastname'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ім'я користувача</mat-label>
    <input matInput formControlName="username">
    <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Електронна адреса</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
      Поле обов'язкове для заповнення
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
      Формат електронної адреси завдано невірно
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')"> Поле обов'язкове для заповнення</mat-error>
    <mat-error *ngIf="registrationForm.controls['password'].errors?.pattern">
      Пароль неправильний. Має містити принаймні 1 велику, 1 малу та 1 цифру. Довжина пароля має бути 8 символів.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Підтвердження паролю</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error *ngIf="registrationForm.hasError('matching')">
      Паролі не збігаються
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button color="primary" [disabled]="!registrationForm.valid" (click)="onRegistration()">Зареєструвати мене</button>

  <a mat-button class="link" href="/login">Маєте обліковий запис? Увійти</a>
</div>
