<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <div class="dashboard">
        <button mat-icon-button (click)="goToDashboard()">
          <mat-icon>dashboard</mat-icon>
        </button>
        <span >Дипломна робота</span>
        <button *ngIf="userService.getCurrentUserType()!==userTypes.student" mat-button color="white" (click)="goToUsersPage()">Користувачі</button>
        <button *ngIf="userService.getCurrentUserType()!==userTypes.student" mat-button color="white" (click)="goToGroupsPage()">Групи</button>
      </div>
    </div>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
