.lesson-page {
  padding: 60px 40px 40px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.teacher {
  margin: 16px;
}

mat-card-subtitle {
  white-space: pre-line;
}

.subject-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}
