<toolbar-menu-main></toolbar-menu-main>
<div class="teacher" *ngIf="currentUserType==userTypes.teacher">
  <!-- && lesson?.status === lessonTypes.open-->
  <button (click)="openTaskCreationDialog()" mat-raised-button color="primary">Додати завдання</button>
</div>
<div class="lesson-page">
  <mat-card>
    <div *ngIf="subject" class="subject-info">
      <mat-card-subtitle>Предмет: "{{subject.name}}"</mat-card-subtitle>
      <mat-card-subtitle>Курс: "{{subject.course}}"</mat-card-subtitle>
    </div>

    <div class="card" *ngIf="lesson">
    <mat-card-title>Тема: {{lesson.name}}</mat-card-title>
    <mat-card-title *ngIf="lesson?.mark" style="color: darkslategray">Результат: {{lesson!!.mark}}</mat-card-title>
    <mat-card-subtitle>{{lesson.description}}</mat-card-subtitle>
    </div>

    <div class="tasks-container">
      <ts-task *ngFor="let task of lesson?.tasks" [id]="task.id" [lessonStatus]="lesson?.status"
               [type]="task.type"
               [question]="task.question"
               [answer]="task.answer"
               [answers]="task.answers" [selected]="task.selected"></ts-task>
    </div>
  </mat-card>
</div>
