.lesson-page {
  padding: 60px 40px 40px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  grid-gap: 4px;
}

.teacher {
  margin: 12px 40px 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 16px;
  grid-gap: 8px;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

mat-card-subtitle {
  white-space: pre-line;
}

input {
  white-space: pre-line;
}

.subject-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}
