/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-wrapper {
  display: flex;
  flex-direction: column;

  .mat-form-field-flex {
    order: 1;
  }
  .mat-form-field-underline {
    position: relative;
    order: 2;
    bottom: 0 !important;
  }
  .mat-form-field-subscript-wrapper {
    position: relative;
    order: 3;
  }
}
